* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    color: white;
}

.ball-container {
    height: 80vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center ;
    align-items: center;
    gap: 10px;
}

.ball {
    width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    display: grid;
    justify-items: center;
    align-items: center;

    font-size: 22px;
    font-weight: bold;

    transition: 1s;
}

.ball1{ 
    background-color: darkorchid; 
}

.ball2{ 
    background-color: darkslategray; 
}